/* body font-style */
body {
    font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* stles for logo */

.logo {
    text-align: center;
    padding-top: 35px;
    margin-right: auto;
    margin-left: auto;
    background: black;
    height: 60px;
    width: 100px;
    color: white;
    font-size: 23px;
    margin-top: 20px;
    font-family: Arial, serif;
}
/* stles for first heading */
.h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 30px;
}
/* stles for second heading */
h3 {
    text-align: center;
    text-emphasis: none;
}
/* styles for main form */


/* inputs for the name s */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.input-fieldss {
    margin-bottom: 1%;
    padding-bottom: 25px;
    padding-left: 40px;
}
.input-fields {
    margin-bottom: 1%;
    margin-left: 33%;
    padding-bottom: 25px;
    padding-left: 40px;
    width: 30%;
}
.labels {
    margin-bottom: 1%;
    margin-left: 33%;
    

}
/* links stles */
.links {
    text-decoration: none;
    text-align: center;
    margin-left: 33%;
    
}

/* button for signup */
.btn {
    width: 33%;
    height: 45px;
    font-size: medium;
    text-align: left;
    background-color: #11939a;
    color: white;
    border-style: none;
    margin-left: 33%;
    

}
p {
    margin-left: 33%;

    font-size: 14px;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
    .labels, .input-fields {
      width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }